.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

.order-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    cursor: pointer;
    font-size: 24px;
    transition: background-color 0.3s ease;
    background-color: #FFFACD; /* 연한 레몬색 배경 */
    border-radius: 15px; /* 모서리 둥글게 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
}

.order-box:hover {
    background-color: #f0f0f0;
}
